<h1>Your task </h1>
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<%= link_to "Back to the to do list", tasks_path%>
<%= link_to " Edit a new task", edit_path(@task)%>
<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
